@model QuanlyquanNet.Data.DonHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chi tiết đơn hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaDonHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhachHangNavigation.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaKhachHangNavigation.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaDichVuNavigation.TenDichVu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaDichVuNavigation.TenDichVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaDonHang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
