@model IEnumerable<QuanlyquanNet.Data.LichSuNapTien>

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTienThucNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGoiNapNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhachHangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhapNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienThucNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGoiNapNavigation.MaGoiNap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhachHangNavigation.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhapNavigation.TenDangNhap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNapTien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNapTien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNapTien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
