@model QuanlyquanNet.Data.PhuThuong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhuThuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhuThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhuThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiPhuThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiPhuThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemCanDoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemCanDoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaVatPhamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaVatPhamNavigation.MaVatPham)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPhuThuong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
