@model IEnumerable<QuanlyquanNet.Data.PhuThuong>

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    ViewData["Title"] = "Danh sách phần thưởng";
}

<h1>Danh sách phần thưởng</h1>


<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenPhuThuong)</th>
            <th>@Html.DisplayNameFor(model => model.LoaiPhuThuong)</th>
            <th>@Html.DisplayNameFor(model => model.GiaTri)</th>
            <th>@Html.DisplayNameFor(model => model.DiemCanDoi)</th>
            <th>@Html.DisplayNameFor(model => model.NgayTao)</th>
            <th>@Html.DisplayNameFor(model => model.MaVatPhamNavigation)</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenPhuThuong)</td>
                <td>@Html.DisplayFor(modelItem => item.LoaiPhuThuong)</td>
                <td>@Html.DisplayFor(modelItem => item.GiaTri)</td>
                <td>@Html.DisplayFor(modelItem => item.DiemCanDoi)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                <td>@Html.DisplayFor(modelItem => item.MaVatPhamNavigation.MaVatPham)</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.MaPhuThuong">Sửa</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.MaPhuThuong">Chi tiết</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.MaPhuThuong">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mb-3 text-end">
    <a class="btn btn-success" asp-action="Create">+ Thêm phần thưởng</a>
</div>