@model QuanlyquanNet.Data.KhuVuc

@{
    ViewData["Title"] = "Chi tiết khu vực";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Thông tin khu vực</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhuVuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenKhuVuc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt class="col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.HinhAnh"
                 alt="Ảnh khu vực"
                 style="max-width: 300px; height: auto; border: 1px solid #ccc; border-radius: 5px;"
                 onerror="this.src='/images/placeholder.jpg'" />
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKhuVuc" class="btn btn-warning">✏️ Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">⬅️ Quay lại danh sách</a>
</div>
