@model IEnumerable<QuanlyquanNet.Data.LichSuDangNhap>

@{
    ViewData["Title"] = "Index";
}

<h1>Login History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDangNhap)
            </th>
       
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDangNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianDangNhap)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.MaNguoiDungNavigation.TenDangNhap)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaDangNhap">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaDangNhap">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>